/* fonts */
/* colors */
@font-face {
  font-family: 'Avenir Light';
  src: url("../fonts/3218EF_0_0.eot");
  src: url("../fonts/3218EF_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/3218EF_0_0.woff2") format("woff2"), url("../fonts/3218EF_0_0.woff") format("woff"), url("../fonts/3218EF_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Avenir Medium';
  src: url("../fonts/321B76_0_0.eot");
  src: url("../fonts/321B76_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/321B76_0_0.woff2") format("woff2"), url("../fonts/321B76_0_0.woff") format("woff"), url("../fonts/321B76_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Avenir Black';
  src: url("../fonts/321A7A_0_0.eot");
  src: url("../fonts/321A7A_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/321A7A_0_0.woff2") format("woff2"), url("../fonts/321A7A_0_0.woff") format("woff"), url("../fonts/321A7A_0_0.ttf") format("truetype"); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Avenir Medium", "Open Sans", sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Avenir Medium", "Open Sans", sans-serif;
  background-color: white;
  position: relative; }

@media (min-width: 992px) {
  body {
    padding: 10px 20px 0px 20px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir Black", "Open Sans", sans-serif; }

.main-nav a:HOVER, .main-nav a:ACTIVE, .main-nav a:VISITED, .main-nav a:FOCUS {
  text-decoration: none !important;
  color: #f4f3ed; }

.main-nav {
  position: relative; }

.main-nav__list {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.main-nav__list {
  display: none; }

.main-nav__list {
  box-shadow: 0 0 0 1px #f4f3ed; }

.js .main-nav__list.nav-is-opened {
  display: block;
  -webkit-animation: showNav 250ms ease-in-out both;
  -moz-animation: showNav 250ms ease-in-out both;
  -ms-animation: showNav 250ms ease-in-out both;
  animation: showNav 250ms ease-in-out both; }

.main-nav__item {
  list-style: none;
  display: block;
  position: static;
  padding-left: 0; }

.main-nav__item:first-child ~ .main-nav__item {
  padding-top: 0; }

.main-nav__item:before {
  display: none; }

body[dir=rtl] .main-nav__item {
  list-style: none;
  display: block;
  position: static; }

body[dir=rtl] .main-nav__item:before {
  display: none; }

.main-nav__link {
  color: #f4f3ed;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3em;
  /* 26px */
  padding-top: 1.3em;
  padding-bottom: 0;
  letter-spacing: -0.3px;
  margin-bottom: 1px;
  text-decoration: none;
  display: block;
  padding-top: 13px;
  padding-bottom: 12px; }

.main-nav__link:hover {
  text-decoration: none; }

.main-nav__item:last-child .main-nav__link {
  margin-bottom: 0; }

.main-nav__link {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto; }

.main-nav__item--current {
  color: #bdbdbd; }

@media only screen and (max-width: 767px) {
  .page--home .main-nav__item--home {
    display: none; } }

.main-nav__list--child {
  padding-top: 0;
  padding-left: 0; }

body[dir=rtl] .main-nav__list--child {
  padding-right: 0;
  margin-right: 0; }

.main-nav__item--child {
  padding-top: 0;
  position: static;
  padding-left: 0; }

.main-nav__item--child:before {
  display: none; }

body[dir=rtl] .main-nav__item--child {
  padding-top: 0;
  position: static;
  padding-left: 0;
  padding-right: 0;
  text-align: right; }

body[dir=rtl] .main-nav__item--child:before {
  display: none; }

.main-nav__link--child {
  font-size: 16px;
  line-height: 1.625em;
  /* 26px */
  padding-top: 1.625em;
  padding-bottom: 0;
  letter-spacing: 0;
  padding-top: 13px;
  padding-bottom: 12px;
  margin-bottom: 0;
  border-bottom: 1px solid #00a3c2;
  padding-left: 10%; }

.main-nav__secondary-nav {
  display: none; }

.subnav-is-opened > .main-nav__secondary-nav {
  display: block;
  -webkit-animation: showNav 250ms ease-in-out both;
  -moz-animation: showNav 250ms ease-in-out both;
  -ms-animation: showNav 250ms ease-in-out both;
  animation: showNav 250ms ease-in-out both; }

.main-nav__secondary-content {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.main-nav__link--explore {
  color: #103273;
  font-weight: 400;
  display: inline-block;
  line-height: 1;
  letter-spacing: 1px;
  display: block;
  line-height: 26px; }

.main-nav__link--explore:hover {
  color: #103273; }

@media only screen and (max-width: 767px) {
  .main-nav__link--explore {
    border-top: 1px solid #bdbdbd; } }

.main-nav__featured {
  display: none; }

.main-nav__featured-text {
  padding-top: 0; }

.main-nav__btn {
  position: absolute;
  top: 0;
  right: 16px;
  margin: 0 0 0;
  line-height: 26px;
  font-size: 26px;
  background: transparent;
  color: #f4f3ed;
  padding: 16px 0 10px 10px;
  border: none;
  -webkit-appearance: none;
  outline: none; }

.nav-is-opened + .main-nav__btn {
  top: -6px; }

.nav-is-opened + .main-nav__btn i:before {
  font-size: 20px;
  content: "\e007"; }

/*==========  ICONS  ==========*/
.main-nav__icon {
  float: right;
  margin-right: 7px;
  font-size: 16px;
  line-height: 26px;
  vertical-align: middle; }

.main-nav__secondary-nav .main-nav__icon {
  font-size: 13px; }

.main-nav .main-nav__guide-icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px; }

/*==========  CSS ANIMATION  ==========*/
@-webkit-keyframes showNav {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes showNav {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes showNav {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes showNav {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/**
*
* Main Header
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/
.main-header {
  background: #45c1f1;
  color: #f4f3ed;
  position: relative;
  z-index: 3; }

.main-header__title {
  color: #f4f3ed;
  font-size: 26px;
  font-weight: 300;
  line-height: 1em;
  /* 26px */
  padding-top: 1em;
  padding-bottom: 0;
  letter-spacing: -0.3px;
  padding-top: 0; }

.main-header__title span {
  font-weight: 300; }

.main-nav_current-label {
  float: right;
  margin-right: 46px; }

.no-touch .main-header__title a:hover {
  color: #bdbdbd; }

@media only screen and (max-width: 767px) {
  .beta + .main-header__title {
    margin-bottom: 22px; } }

.main-nav__header {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  color: #f4f3ed;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3em;
  /* 26px */
  padding-top: 1.3em;
  padding-bottom: 0;
  letter-spacing: -0.3px;
  padding-top: 13px;
  padding-bottom: 13px;
  background: #45c1f1; }

.main-nav__header a {
  color: #f4f3ed; }

body[dir=rtl] .main-nav__header {
  text-align: left; }

.main-header__logo {
  text-decoration: none;
  color: #103273;
  font-weight: 400; }

@font-face {
  font-family: "icons";
  src: url("../images/icons/icons.eot");
  src: url("../images/icons/icons.eot?#iefix") format("embedded-opentype"), url("../images/icons/icons.woff") format("woff"), url("../images/icons/icons.ttf") format("truetype"), url("../images/icons/icons.svg?#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: "icons";
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  font-family: icons;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizelegibility; }

.icon-bullet:before {
  content: "\e001"; }

.icon-chevron-down:before {
  content: "\e002"; }

.icon-chevron-large:before {
  content: "\e003"; }

.icon-chevron-left:before {
  content: "\e004"; }

.icon-chevron-right:before {
  content: "\e005"; }

.icon-chevron-up:before {
  content: "\e006"; }

.icon-close:before {
  content: "\e007"; }

.icon-cog:before {
  content: "\e008"; }

.icon-device-access:before {
  content: "\e009"; }

.icon-diamond:before {
  content: "\e00a"; }

.icon-discovery-and-distribution:before {
  content: "\e00b"; }

.icon-exclamation:before {
  content: "\e00c"; }

.icon-google-dev:before {
  content: "\e00d"; }

.icon-guides:before {
  content: "\e00e"; }

.icon-hash:before {
  content: "\e00f"; }

.icon-introduction-to-media:before {
  content: "\e010"; }

.icon-lessons:before {
  content: "\e011"; }

.icon-look-and-feel:before {
  content: "\e012"; }

.icon-menu:before {
  content: "\e013"; }

.icon-minus:before, .subnav-is-opened > a .icon-custom:before {
  content: "\e014"; }

.icon-monetization:before {
  content: "\e015"; }

.icon-multi-device-layouts:before {
  content: "\e016"; }

.icon-performance:before {
  content: "\e017"; }

.icon-plus:before, .icon-custom:before {
  content: "\e018"; }

.icon-principles-of-site-design:before {
  content: "\e019"; }

.icon-question:before {
  content: "\e01a"; }

.icon-slash:before {
  content: "\e01b"; }

.icon-star:before, .home-header:after {
  content: "\e01c"; }

.icon-tick:before {
  content: "\e01d"; }

.icon-tools:before, .wsk-header:after {
  content: "\e01e"; }

.icon-user-input:before {
  content: "\e01f"; }

div.horizontal-menu {
  margin-top: 20px;
  color: #103273; }

ul.horizontal-nav {
  float: right;
  font-size: 1.1em; }
  ul.horizontal-nav li.menu-entry {
    float: left;
    position: relative;
    background: transparent;
    margin-left: 20px; }
  ul.horizontal-nav li.active {
    color: #a90533; }
  ul.horizontal-nav li:LAST-CHILD {
    padding-right: 10px; }
  ul.horizontal-nav li.dropdown:HOVER .dropdown-menu {
    display: block;
    width: 100%; }
  ul.horizontal-nav li.dropdown {
    position: static; }

/*.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 130px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 132px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}*/
a {
  color: #103273;
  text-decoration: none; }

a:hover, a:ACTIVE {
  color: #a90533;
  text-decoration: none; }

a:hover,
a:focus {
  color: #a90533;
  text-decoration: none; }

.form-control:focus {
  border-color: #a90533;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 5, 51, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 5, 51, 0.6); }

.globe-language {
  color: #737373;
  margin-top: 20px; }

h1 {
  padding-top: 20px;
  padding-bottom: 10px; }

div.horizontal-menu {
  margin-top: 0px; }

ul.horizontal-nav {
  float: none; }

.globe-language {
  margin-top: 0px;
  display: flex;
  align-items: center; }
  .globe-language .img-responsive {
    width: 288px; }

ul.horizontal-nav li.menu-entry {
  font-size: 1.3em; }

body {
  background-color: black;
  color: black; }

.container {
  background-color: white; }

@media (min-width: 992px) {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px; } }

@media (min-width: 992px) {
  body {
    padding: 0px 0px 0px 0px; }
  .grey-row {
    padding: 30px 0px 30px 0px; } }

@media (min-width: 768px) {
  .container {
    width: 100%; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

h1, h2, h3, h4, h5, h6 {
  color: #103273; }

h1 {
  font-size: 36px;
  margin-bottom: 10px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

p {
  font-size: 24px;
  margin: 0 0 10px;
  line-height: 1.4em; }

.day-number {
  font-size: 12px; }

.grey-row {
  background-color: #e4e4e4;
  min-height: 20px;
  margin-bottom: 20px; }

.calendar-container .week-days-row {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 6px;
  padding-bottom: 6px; }

.calendar-container .days-row {
  display: flex;
  flex-direaction: row; }

.calendar-container .day {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-height: 110px;
  width: 14.28%; }

.calendar-container .day:last-child {
  border-right: none; }

.calendar-container .today {
  background-color: #bdbdbd; }

.calendar-container .weekend {
  background-color: #e4e4e4; }

.calendar-container .day:hover {
  background-color: #45c1f1;
  cursor: pointer; }

.calendar-container .not-in-month {
  color: #B1B1B1; }

.calendar-container .month {
  display: inline-block;
  color: inherit; }

.calendar-container .event-entry {
  padding: 2px;
  margin: 0px 0px 0px 0px;
  border: 1px solid #505050; }

.globe-language {
  margin-bottom: 10px; }

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear; }

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1) rotate(360deg); } }

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

div.form-inline {
  display: inline-block; }

div.suggestion {
  background-color: #e94840;
  padding-top: 16px;
  padding-bottom: 20px; }
  div.suggestion h2 {
    color: white;
    padding-bottom: 8px; }
  div.suggestion textarea {
    max-width: 100%; }
  div.suggestion .btn, div.suggestion .btn-default:hover, div.suggestion .btn-default:active {
    background-color: #a90533;
    color: white;
    border: none;
    border-radius: 0px; }
  div.suggestion button:HOVER {
    cursor: pointer; }

@media (min-width: 992px) {
  div.suggestion {
    bottom: 70px;
    padding-bottom: 40px; }
  .row-suggestion {
    margin-top: 90px; }
  .row-suggestion .row {
    display: flex;
    align-items: center; } }

.row-suggestion {
  background-color: #bdbdbd; }

#overlay {
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white; }

#modal-overlay {
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white; }

.loading-image {
  margin-left: auto;
  margin-right: auto; }

.glyphicon:HOVER {
  cursor: pointer; }

span[class*="glyphicon-chevron"] {
  font-size: 18px; }

.loading-image {
  width: 64px; }

#mobile-area-info li {
  list-style: none;
  list-style-type: none; }

#mobile-area-info li:hover {
  cursor: pointer; }

#day-form {
  min-height: 380px;
  width: 100%;
  max-width: 100%;
  border: none;
  overflow: hidden; }

.side-info li {
  margin-bottom: 10px;
  list-style: none; }

.side-info ul {
  padding-left: 15px;
  list-style: none; }

@media (max-width: 768px) {
  .week-days {
    text-transform: uppercase; } }

@media (min-width: 768px) {
  .news-feed h4 {
    margin-top: 30px; } }

@media (max-width: 992px) {
  .day {
    min-height: 76px;
    height: 76px; }
  .mobile-day-info {
    height: 54px;
    margin-left: -8px;
    margin-right: -8px; }
  #mobile-area-info {
    height: 100px;
    overflow-y: auto; }
  #mobile-area-info li {
    text-align: center;
    margin: 4px;
    padding: 4px; } }
