@import "../../workspace/kaizen.com/app/styles/main.scss";

h1
{
  padding-top:20px;
  padding-bottom:10px; 
}

div.horizontal-menu 
{
  margin-top:0px;
}

ul.horizontal-nav{
  float: none;
}

.globe-language 
{
  margin-top:0px;
  display:flex;
  align-items:center;
  .img-responsive{
     width: 288px;
  }

}
ul.horizontal-nav li.menu-entry
{
  font-size:1.3em;
}
body
{
  background-color:black;
  color: black;
}

.container
{
  background-color:white;
}

@media ( min-width : $md-device) {
.container-fluid
  {
   padding-left:0px;
   padding-right: 0px;
  }
}

@media (min-width: $md-device){
  body {
   padding: 0px 0px 0px 0px;
  }
  .grey-row
  {
    padding: 30px 0px 30px 0px;
  }
}

@media (min-width: $sm-device) {
    .container {
        width:100%;
    }
}

@media (min-width: $md-device) {
    .container {
        width:970px
    }
}

@media (min-width: $lg-device) {
    .container {
        width:1170px
    }
}

h1,h2,h3,h4,h5,h6
{
  color: $ki-blue;
}

h1
{
  font-size:36px;
  margin-bottom: 10px;
}
h3
{
  font-size:24px;
}
h4
{
  font-size: 18px;
}
p
{
  font-size:24px;
  margin: 0 0 10px;
  line-height: 1.4em;
}
.day-number
{
  font-size:12px;
}
.grey-row
{
  background-color: $grey-lightest;
  min-height: 20px;
  margin-bottom: 20px;
}

.calendar-container 
{
  .week-days-row
  {
    border-top: 1px solid $grey-lightest;
    border-bottom: 1px solid $grey-lightest;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .days-row {
    display: flex;
    flex-direaction: row;
  }
  .day {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    min-height: 110px;
    width: 14.28%;
  }

  .day:last-child {
    border-right: none;
  }
  
  .today {
    background-color: $grey-light;
  }
  
  .weekend {
    background-color: $grey-lightest;
  }
  
  .day:hover {
    background-color: $ki-very-light-blue;
    cursor: pointer;
  }
  
  .weekend:hover {
  }
  
  .not-in-month {
    color: #B1B1B1;
  }
  
  .month {
    display: inline-block;
    color: inherit;
  }
  
  .event-entry {
    padding: 2px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #505050;
  }
}

.globe-language
{
  margin-bottom:10px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
 
div.form-inline
{
  display:inline-block;
}

div.suggestion
{
  background-color: $ki-light-red; 
  padding-top:16px;
  padding-bottom:20px;
  h2
  { 
   color:white;
   padding-bottom:8px;
  }
  textarea
  {
   max-width:100%;
  }
  .btn,.btn-default:hover,.btn-default:active
  {
   background-color: $ki-red;
   color:white;
   border: none;
   border-radius: 0px;
  }
  button:HOVER {
   cursor:pointer;
  }
}
@media (min-width: $md-device) {
    div.suggestion {
        bottom:70px;
        padding-bottom:40px;
    }
    .row-suggestion{
      margin-top:90px;
    }
    .row-suggestion .row
    {
      display:flex;
      align-items:center;
    }
}

.row-suggestion
{
  background-color: $grey-light;
}
#overlay {
  opacity: 0.8;
  filter: alpha(opacity = 80);
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
}

#modal-overlay {
  opacity: 0.8;
  filter: alpha(opacity = 80);
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
}

.loading-image {
  margin-left: auto;
  margin-right: auto;
}

.glyphicon:HOVER {
  cursor: pointer;
}

span[class*="glyphicon-chevron"] {
  font-size: 18px;
}

.loading-image {
  width: 64px;
}

#mobile-area-info li {
  list-style: none;
  list-style-type: none;
}

#mobile-area-info li:hover {
  cursor: pointer;
}

#day-form {
  min-height: 380px;
  width: 100%;
  max-width: 100%;
  border: none;
  overflow: hidden;
}

.side-info li {
  margin-bottom: 10px;
  list-style: none;
}

.side-info ul {
  padding-left: 15px;
  list-style: none;
}

@media ( max-width : $sm-device) {
  .week-days {
    text-transform: uppercase;
  }
}

@media ( min-width : $sm-device) {
  .news-feed h4 {
    margin-top: 30px;
  }
}

@media ( max-width : $md-device) {
  .day {
    min-height: 76px;
    height: 76px;
  }
  .mobile-day-info {
    height: 54px;
    margin-left: -8px;
    margin-right: -8px;
  }
  #mobile-area-info {
    height: 100px;
    overflow-y: auto;
  }
  #mobile-area-info li {
    text-align: center;
    margin: 4px;
    padding: 4px;
  }
}